<div class="px-8 py-4 flex justify-between items-center border-b border-gray-200 w-full">
  <span class="font-bold text-2xl text-gray-800 tracking-tight"><%= link_to "Tho ret ci ti",  %></span>
  <div class="flex items-center space-x-4 text-sm">
    <%= link_to "View all Users", users_path, class: "text-gray-700 hover:text-blue-600 transition" %>
    <%= link_to "Your Profile", user_path(current_user), class: "text-gray-700 hover:text-blue-600 transition" %>
    <% if user_signed_in? %>
      <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "text-red-500 hover:text-red-600 transition" %>
    <% else %>
      <%= link_to "Log in", new_user_session_path, class: "text-blue-600 hover:underline" %>
    <% end %>
  </div>
</div>
